*{
    /* border : 1px solid black; */
    margin: 0;
    padding: 0;
}

/* Flex */
.col , .row{
   display: flex; 
}


.col{
    flex-direction: column;
}

main{
    background-color: #F9F9F9;
    flex-grow: 1;
}

#syarat{
    padding: 40px 0px 29px 177px;
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}

#syarat h1{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

#syarat h1:nth-of-type(2){
    margin-top: 20px;
}
#syarat ol{
    box-sizing: border-box;
}
#syarat ol li{
    font-size: 20px;
    font-weight: 300;
    margin-left: 30px;
}

#lowongan{
    padding: 40px 0px 89px 177px;
}

#lowongan h1{
    margin-bottom: 31px;
    font-weight: 700;
    font-size: 25px;
}

#cards-group{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 487px;
    height: 175px;
    box-sizing: border-box;
    padding: 24px 0px 24px 20px;
    margin-right: 114px;
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.card .content{
    margin-top: 1px;
    justify-content: space-between;
    margin-left: 10px;
}

.card .content *{
    font-size: 20px;
    font-weight: 300;
}

#ajukan {
    margin-top: 50px;
    justify-content: flex-end;
    margin-right: 175px;
}

#ajukan button{
    width: 232px;
    height: 43px;
    border-radius: 20px;
    background-color: #98DDCA;
    border : 1px solid black;
    padding: 7px 53px 7px 54px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.25);
}

#ajukan button p{
    font-size: 24px;
    font-weight: 600;
}

